<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<div align="center">
  <h2>Users</h2>
  <a href="/users">Main</a>

  <table border="1" cellpadding="5">
    <tr>
      <th>ID</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>Action</th>
    </tr>

    <tr th:each="user, iterStat : ${users} ">
      <td th:text="${user.getId()}"></td>
      <td th:text="${user.getName()}"></td>
      <td th:text="${user.getLastName()}"></td>
      <td th:text="${user.getEmail()}"></td>
      <td>
        <a th:href="@{/users/{id}/edit(id=${user.getId()})}" th:text="Edit">user</a>
        <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
  </table>
</div>
</body>
</html>